body {
  font-size: 14px;
  font-family: $roboto;
}

a {
  color: $blue;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $blue_active;
    text-decoration: underline;
  }
}


.container {
  width: 100%;
  background-color: $white;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.fullpage {
  background: $red;
  display: table;
  margin: 0;
  max-width: none;
  height: 100vh;
  width: 100%;
}

.content {
  display: table-cell;
  /*vertical-align: middle;*/
  position: relative;
}

.info-indexes {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.header {
  height: 100%;
  /*min-height: 100vh;*/
}

#hero {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}


.container {
  width: 100%;
  background-color: $white;
  position: relative;
  margin: 0 auto;

  &.bg_gray {
    background: #f9f9f9;
  }
}

.section_inner {
  max-width: 1136px;
  margin: 0 auto;
  //padding: 0 48px;
  position: relative;
  padding: 20px;
}

.text-bold {
  font-weight: 500;
}

.header {
  background: #1a4ef8;
  position: relative;

  .section_inner {
    padding-top: 0;
    z-index: 1000;
    height: 100%;
    padding-bottom: 160px;
  }

  .menu-wrap {

  }

  .header-center {
    height: 100%;
    padding-bottom: 60px;
    width: 100%;
    display: table;

      .header-center-wrap {
        display: table-cell;
        vertical-align: middle;

      }

  }
}

.btn- {
  display: none;
}

.particles-js-canvas-el {
  position: absolute;
  top: 0;
  left: 0;
}

.header-logo {
  width: 150px;
  height: 36px;
  display: block;
  margin: 15px 0 0 0;
  float: left;
}

.menu-wrap {
  text-align: right;
  position: relative;
  z-index: 1000000;
}

.nav {
  position: absolute;
  top: 60px;
  width: 100%;
  background: $blue_dark;
  display: none;
  z-index: 1000000;
}

.menu {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: $blue_dark;
  text-align: left;


  li {
    /*display: inline-block;*/

    a {
      color: $white;
      font-size: 1.5em;
      text-decoration: none;
      padding: 20px;
      border-radius: 2px;
      display: block;
      width: 100%;
      border-bottom: 1px solid $blue_dark3;


      &:hover {
        background: #1d46d1;
      }

    }
  }
}

.lang-reg-block {
  display: inline-block;
  text-align: right;
  vertical-align: text-top;
  height: 30px;
  margin-top: -15px;

  &:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
}

.user_default {
  display: inline-block;
  text-align: right;
  position: absolute;
  right: 0;
  top: 60px;
}

.user_default_lang {
  border-radius: 50px;
  background: transparent;
  padding: 7px 26px 8px 16px;
  position: relative;
  height: 30px;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #587efa;


  &::after {
    content: '';
    display: inline-block;
    @include sprite(-110px, -82px);
    width: 11px;
    height: 6px;
    position: absolute;
    top: 13px;
    right: 10px;
  }

  &:hover {
    &:after {
      @include sprite(-110px, -70px);
    }

    .user_default_lang_drop {
      display: block;
    }
  }

  .en {
    &:before {
      @include langs(0, 0);
    }
  }

  .es {
    &:before {
      @include langs(0, -10px);
    }
  }

  .fr {
    &:before {
      @include langs(0, -20px);
    }
  }

  .de {
    &:before {
      @include langs(0, -30px);
    }
  }

  .it {
    &:before {
      @include langs(0, -40px);
    }
  }

  .pt {
    &:before {
      @include langs(0, -50px);
    }
  }

  .ro {
    &:before {
      @include langs(0, -60px);
    }
  }

  .zh {
    &:before {
      @include langs(0, -70px);
    }
  }

  .ru {
    &:before {
      @include langs(0, -80px);
    }
  }

  .uk {
    &:before {
      @include langs(0, -90px);
    }
  }

}

.footer {
  .user_default_lang {
    border: 1px solid $white;
  }
}

.user_default_lang_active {
  padding-left: 20px;
  position: relative;
  text-transform: uppercase;
  color: $white;
  font-size: .9em;

  &:before {
    content: "";
    display: block;
    width: 15px;
    height: 10px;
    position: absolute;
    top: 2px;
    left: -4px ;
  }
}

.user_default_lang_drop {
  position: absolute;
  top:28px;
  right: 0;
  z-index: 1000000;
  display: none;

  .lang_list {
    margin-top: 6px;
    border-radius: 2px;
    padding: 3px 0;
    background: #0668ee;
    text-align: left;

    li {
      a {
        display: block;
        padding: 9px 15px 9px 40px;
        min-width: 140px;
        text-decoration: none;
        color: $white;
        border-bottom: 1px solid #0668ee;
        background-color: #1641ce;
        position: relative;
        cursor: pointer;

        &:before {
          content: "";
          display: block;
          width: 15px;
          height: 10px;
          position: absolute;
          top: 12px;
          left: 16px ;
        }

        &:hover {
          background: #0668ee;
        }
      }
    }

  }
}

.btn_header {
  display: none;
}

.header-title {
  font-size: 1.8em;
  font-weight: normal;
  text-align: center;
  color: $white;
  margin-top: 20px;
  margin-bottom: 5px;
}

.header-subtitle {
  font-size: 1.8em;
  font-weight: normal;
  text-align: center;
  color: $white;
  margin-bottom: 30px;
}

.header-reg-wrap {
  text-align: center;
  margin-bottom: 30px;
  position: relative;
  height: 60px;
}

.header-reg {
  padding: 0 20px;
  display: inline-block;
}

.header-group-btns {
  font-size: 14px;
}

.header-reg-input {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  height: 40px;
  border-radius: 6px;
  padding: 0 16px;
  text-align: center;
  color: $blue_dark2;

  &:focus {
    color: $blue_dark2;
    border: none;
  }
}

.header-reg-btn {
  width: 100%;
  display: block;
  text-align: center;
  padding: 12px 18px;
  border-radius: 6px;
  background: #1034aa;
  @include bg-color-an;
  color: $white;
  text-transform: uppercase;

  &:hover {
    color: $white;
    background: $blue_active;
    text-decoration: none;
  }
}

.form-marker-wrap {
  display: none;
}

.article-title {
  font-size: 1.8em;
  font-weight: 500;
}

.item-img {
  width: 100%;

  img {
    width: 100%;
  }
}

.content-items {
  margin-bottom: 30px;
}

.items {
  margin-bottom: 30px;
  text-align: center;
}

.content-currencies {
  margin-bottom: 30px;
}

.currencies-title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.currencies-items {
  text-align: center;
}

.currency-list {
  text-align: center;
  display: inline-block;

  li {
    margin: 4px;
    display: inline-block;
    width: 44%;
    font-size: 13px;
    text-align: center;

    a {
      padding: 8px;
      display: block;
      width: 100%;
      color: $gray_inactive_ver;
      font-weight: 500;
      background: #ecf6ff;
      position: relative;
      margin: 0;
      cursor: pointer;
      border-radius: 2px;
      text-decoration: none;
      font-family: $roboto;
      border: none;
      box-sizing: border-box;

      @include bg-color-an;

      &:hover {
        background: $gray_light;
        color: $blue;
      }
    }

    &.btn_active {

      &:hover {
        background: $blue_active;
        color: $white;
      }

    }
  }
}


.currency-item {
  background: #ecf6ff;

  &.real {
    background: #d1fef1;
  }
}

.content-account {
  background: #1a4ef8;
  color: $white;
}

.content-account-wrap {
  padding: 20px 0;
}

.account-title {
  text-align: center;
  font-size: 1.4em;
  margin-bottom: 20px;
}

.account-btn {
  text-align: center;

  .btn_create {
    padding: 8px 16px;
    background: transparent;
    color: $white;
    border: 1px solid $white;
    border-radius: 2px;
    display: inline-block;

    &:hover {
      background: $blue_active;
    }
  }

}
.info-indexes {
  background: #051b32;
}

.info-wrap {
  padding: 20px;
  text-align: center;
  max-width: 780px;
  margin: 0 auto;
}

.info-item {
}

.info-text {
  color: #b3b9bd;
  font-size: .9em;
  margin-bottom: 10px;
}

.info-value {
  color: $white;
  font-size: 1.1em;
}

.pair_low {
  cursor: pointer;
  .pair_price {
    color: #55bdff;
  }

}

.pair_high {

  .pair_price {
    color: $red;
  }

}

.pair_item {
  font-weight: 500;
  padding: 5px 0;
  color: $green;
  text-align: center;
  font-size: .8em;
  margin-top: 5px;
}

.pair_price {
  padding: 5px 0;
  color: $white;
  text-align: center;
  font-size: .8em;
  margin-bottom: 5px;
}

.graph_indexes {
  padding: 0 40px;
  position: relative;
  background: #000e1c;

  .section_inner {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .owl-prev {
     position: absolute;
     top: 0;
     left: -40px;
     height: 50px;
     width: 40px;

    &:before {
      content: "";
      display: block;
      width: 9px;
      height: 18px;
      position: absolute;
      top: 18px;
      left: 15px;
      @include sprite(0, -30px);
    }
   }

  .owl-next {
    position: absolute;
    top: 0;
    right: -40px;
    height: 50px;
    width: 40px;

    &:before {
      content: "";
      display: block;
      width: 9px;
      height: 18px;
      position: absolute;
      top: 18px;
      left: 15px;
      @include sprite(-17px, -30px);
    }
  }
}

.graph-carousel {
  margin: 0 auto;
  .item {
    width: 100%;
    height: 50px;
  }
}

//Graph
.block-title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.8em;
  font-weight: 500;
  color: $blue_dark;
}

.graph-btn {
  padding: 4px 8px;
  background: $white;
  border: 1px solid #d4dade;
  color: $gray_text2;
  border-radius: 2px;
  font-size: .8em;
  display: inline-block;
  margin-bottom: 6px;

  &:hover {
    border: 1px solid $blue;
    color: $blue;
  }

  &.active {
    background: $blue;
    border: 1px solid $blue;
    color: $white;
  }
}

.graph-body-wrap {
  margin-top: 20px;
  img {
    width: 100%;
  }
}

//Accept
.accept-wrap {
  background: #f1f9ff;
}

.accept-title {
  font-weight: 500;
  font-size: 1.3em;
  margin-bottom: 10px;
  line-height: 1.3;
}

.accept-text {
  margin-bottom: 10px;
  line-height: 1.3;
}

.accept-link {
  position: relative;

  &:after {
    content: "";
    display: block;
    width: 15px;
    height: 11px;
    position: absolute;
    top: 4px;
    right: -20px;
    @include sprite(0, -70px);
  }
}

//Reasons
.reasons-wrap {
  &>.col {
   height: 80px;
  }
}

.reasons {
  background: #1a4ef8;
  color: $white;
  line-height: 1.3;
  border-top: 3px solid #0072f2;

  .block-title {
    color: $white;
  }
}


.reason-item {
  padding-left: 60px;
  position: relative;
  margin: 10px 0;
  min-height: 56px;

  &.comission {
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 5px;
      left: 0;
      width: 45px;
      height: 45px;
      @include sprite(0, -120px);
    }
  }

  &.secure {
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 5px;
      left: 5px;
      width: 36px;
      height: 45px;
      @include sprite(-60px, -120px);
    }
  }

  &.algorithmic {
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 5px;
      left: 0;
      width: 45px;
      height: 45px;
      @include sprite(-110px, -120px);
    }
  }

  &.payment {
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 5px;
      left: 0;
      width: 45px;
      height: 45px;
      @include sprite(0, -180px);
    }
  }

  &.support {
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 5px;
      left: 0;
      width: 45px;
      height: 45px;
      @include sprite(-60px, -180px);
    }
  }

  &.service {
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 5px;
      left: 0;
      width: 45px;
      height: 45px;
      @include sprite(-110px, -180px);
    }
  }
}

.reason-item-title {
  font-size: 1.3em;
  margin-bottom: 5px;
}

.reason-item-text {
  font-size: .85em;
}

//Reviews
.reviews-carousel {
  margin-top: 10px;

  .item {
    width: 100%;
    min-height: 250px;
  }

  .owl-nav {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .owl-prev {
    display: none;
  }

  .owl-next {
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid #d4dade;
    border-radius: 2px;
    position: relative;
    margin-top: 30px;

    &:hover {
      border: 1px solid $blue;
      color: $blue;
    }

    &:active {
      border: 1px solid $blue_active;
      color: $blue_active;
    }

    &:before {
      content: "";
      display: block;
      width: 60px;
      border-top: 1px solid #d4dade;
      position: absolute;
      top: 15px;
      left: -70px;
    }

    &:after {
      content: "";
      display: block;
      width: 60px;
      border-top: 1px solid #d4dade;
      position: absolute;
      top: 15px;
      right: -70px;
    }
  }
}

.review {
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 10px;
  position: relative;

  &:before {
    content: "";
    display: block;
    width: 16px;
    height: 13px;
    position: absolute;
    top: 4px;
    left: 0;
    @include sprite(-60px, -70px);
  }

  &.review-top {
    margin-bottom: 20px;
  }
}

.review-text {
  color: #7785a4;
  margin-bottom: 15px;
  font-weight: 500;
}

.review-author-name {
  color: $blue_dark;
}

.review-author-company {
  color: #1a4ef8;
}

//Reg Count
.reg-count {
  background-image: url(../images/reg-count-414-500.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.reg-count-wrap {
  color: $white;
  text-align: center;
  padding: 20px 0;
}

.reg-count-title {
  font-size: 3.5em;
  font-weight: bold;
  margin-bottom: 5px;
}

.reg-count-subtitle {
  font-size: 1.3em;
  font-weight: bold;
}


//Blog
.blog {
  margin: 10px 0;
}

.blog-item {
  margin-bottom: 15px;

}

.blog-item-date {
  float: left;

  span {
    padding: 2px 4px;
    border: 1px solid #d4dade;
    display: inline-block;
    border-radius: 2px;
    width: 48px;
    text-align: center;
  }
}

.blog-item-link {
  padding-left: 58px;
  line-height: 1.3;
  padding-top: 2px;
}

.blog-read-more-wrap {
  text-align: center;
}

.blog-read-more {
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid #d4dade;
  border-radius: 2px;
  position: relative;
  margin-top: 20px;
  color: $blue_dark;

  &:hover {
    border: 1px solid $blue;
    color: $blue;
    text-decoration: none;
  }

  &:active {
    border: 1px solid $blue_active;
    color: $blue_active;
  }

  &:before {
    content: "";
    display: block;
    width: 60px;
    border-top: 1px solid #d4dade;
    position: absolute;
    top: 15px;
    left: -70px;
  }

  &:after {
    content: "";
    display: block;
    width: 60px;
    border-top: 1px solid #d4dade;
    position: absolute;
    top: 15px;
    right: -70px;
  }
}

//Footer

.footer {
  background: $blue_dark ;
  width: 100%;

  a {

    &:hover {
      color: $white;
    }
  }
}

.footer_head {
  padding: 15px 0;
  border-bottom: 1px solid #2b2b3a;
  position: relative;

  .user_default_lang {
    position: absolute;
    top: 11px;
    right: 0;
    color: $white;

    .lang_list {
      width: 280px;

      li {
        width: 50%;
        float: left;
      }
    }

    .user_default_lang_drop {
      right: 0;
    }


  }
}

.footer_logo {
  @include sprite(0, 0);
  width: 151px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;

}

.footer_head_text {
  display: inline-block;
  width: 100%;
  position: relative;
  font-size: .9em;
  text-align: center;
}

.footer-head-block-1 {
  margin-bottom: 20px;
}
.footer_head_text_1 {
  text-align: left;
  float: left;
}

.footer_head_text_2 {
  text-align: right;
  float: right;
}

.white_text {
  color: $white;
}

.gray_text {
  color: #718493;
}

.footer_body {
  /*min-height: 200px;*/
}

.footer_menu_title {
  text-transform: uppercase;
  margin: 10px 0 10px 0;
  font-size: 1.2em;
  cursor: pointer;
  display: inline-block;
  position: relative;

  &:after {
    content: '';
    display: block;
    width: 11px;
    height: 11px;
    position: absolute;
    right: -18px;
    top: 4px;
    @include sprite(-90px, -70px)
  }

  &.open-list {
    &:after {
      @include sprite(-90px, -85px)
    }
  }
}

.soc_med_list {
  li {

    a{
      color: #718493;
      text-decoration: none;
      line-height: 1.3;
      margin-bottom: 10px;
      display: block;
      padding-left: 20px;
      position: relative;
    }
  }
}


ul[class*="footer_menu_"] {
  padding-left: 20px;
  li {
    a {
      color: #718493;
      text-decoration: none;
      line-height: 1.3;
      margin-bottom: 15px;
      display: block;
    }
  }
}

.footer_bottom {
  background: #252533;
  font-size: .9em;
  text-align: center;
}

.footer_bottom_text1 {
  color: #718493;
  margin-bottom: 5px;
}

.footer_bottom_text2 {
  color: #718493;

  a {
    color: inherit;

    &:hover {
      text-decoration: none;

    }
  }
}

.soc_med,
.footer-1-list,
.footer-2-list,
.footer-3-list,
.footer-4-list {
  display: none;
}


.mobile {
  display: block !important;
}

.desktop, .desktop-1200 {
  display: none !important;
}

@media (min-width: 400px) {

  .user_default {
    margin-right: 4px;
    display: inline-block;
    text-align: right;
    position: static;
  }

  .header-reg {
    min-width: 360px;
    padding: 0;
  }

  .header-group-btns {
    font-size: .8em;
  }

  .header-reg-input {
    width: 55%;
    display: block;
    float: left;
    border-radius: 6px 0 0 6px;
    text-align: left;
  }
  .header-reg-btn {
    width: 45%;
    display: block;
    float: left;
    height: 40px;
    border-radius: 0 6px 6px 0;
  }

  .reg-count {
    background-image: url(../images/reg-count-550-450.jpg);
  }

}

@media (min-width: 550px) {
  .header-title, .header-subtitle {
    font-size: 1.9em;
  }

  .header-reg {
    min-width: 450px;
  }

  .header-group-btns {
    & > * {
      font-size: 1em;
    }
  }

  .graph-buttons-3 {
    text-align: right;
  }

  .account-title {
    font-size: 2em;
  }

  .reasons-wrap {
    &>.col {
      &:nth-child(2n-1) {
        margin-left: 0;
      }
    }
  }

  .footer_head {

    .footer_head_text {
      text-align: right;
    }

    .footer_head_text_1, .footer_head_text_2 {
      display: inline-block;
      float: none;
      margin-left: 10px;
    }

    .footer_logo {
      float: left;
    }
    .user_default_lang {
      left: 140px;
      top: 11px;
      right: auto;

      .user_default_lang_drop {
        right: -46px;
      }

    }

    .footer-head-block-1 {
      margin-bottom: 0;
    }
  }

  .reg-count {
    background-image: url(../images/reg-count-750-450.jpg);
  }

}

@media (min-width: 750px) {
  .section_inner {
    padding: 30px 40px;
  }

  .btn_header {
    height: 30px;
    //border: 1px solid $blue_dark3;
    color: $white;
    font-size: .9em;
    display: inline-block;
    text-align: right;
    padding: 7px 16px;
    border-radius: 50px;

    &:hover {
      background: #347ffb;
      color: $white;
      text-decoration: none;
      font-weight: normal;
    }
  }

  .btn_authorization {
    margin-right: 6px;
    border: 1px solid #587efa;

  }

  .btn_registration {
    background: #0d2a86;
  }

  .header-title, .header-subtitle {
    font-size: 2.1em;
  }

  .header-reg {
    width: 80%;
    height: 60px;
  }

  .header-group-btns {
    font-size: 1.2em;
  }

  .header-reg-input {
    height: 60px;
  }

  .header-reg-btn {
    height: 60px;
  }

  .graph-buttons-2 {
    text-align: right;
    float: right;
  }

  .info-wrap {
    text-align: center;
  }

  .info-item {

  }

  .info-text {
    font-size: 1.2em;
    text-transform: uppercase;
  }
  .info-value {
    font-size: 1.7em;
  }

  .reason-item-text {
    width: 90%;
  }

  .footer {
    .section_inner {
      padding: 10px 40px;
    }
  }

  .footer_bottom_text1 {
    float: left;
    text-align: left;
    width: 40%;
    margin-bottom: 0;
  }

  .footer_bottom_text2 {
    float: right;
    text-align: right;
    width: 40%;
  }

  .reg-count-title {
    font-size: 7em;
  }

  .reg-count-subtitle {
    font-size: 2.3em;
  }

  .reg-count {
    background-image: url(../images/reg-count-1000-450.jpg);
  }

}

@media (min-width: 1000px) {
  .header {
    .user_default {
      margin-top: 0px;
      margin-right: 4px;
      top: -10px;
    }

    .user_default_lang {
     border: 1px solid #587efa;
    }
  }

  .header-title, .header-subtitle {
    font-size: 60px;
    /*font-weight: lighter;*/
  }

  .form-marker-wrap {
    position: absolute;
    bottom: -30px;
    left: 30%;
    display: block;
    /* background: red;*/

    &:hover {
      .form-hint {
        display: block;
      }
    }
  }

  .form-hint {
    position: absolute;
    top: 30px;
    left: 0;
    padding-top: 20px;
    display: none;
  }

  .form-hint-wrap {
    background: $white;
    border-radius: 4px;
    width: 275px;
    padding: 16px;
  }

  .form-hint-title {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .form-hint-text {
    font-size: 14px;
    margin-bottom: 20px;
    text-align: left;
  }

  .form-hint-btn {
    padding: 8px 16px;
    color: $white;
    background: #0072f2;
    border-radius: 2px;
    display: inline-block;

    &:hover {
      background: $blue_active;
      text-decoration: none;
      color: $white;
    }
  }


  //Pulse 2
  .pulse-box{
    float: left;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* pulse in CSS */
  .pulse-css{
    @include circle(40px);
    background: rgba(115,181,255,0.5);
    cursor: pointer;
    box-shadow: 0 0 14px 0 rgba(0,0,0,0.33);
    /*box-shadow: inset 0 0 50px rgba(115,181,255,0.8);*/
    position: relative;


    &:before,
    &:after{
      content: '';
      @include circle(10px);
      /*background-color: $white;*/
      box-shadow: inset 0 0 5px $white;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      transform: scale(1);
      transform-origin: center center;
      animation: pulse-me 2s linear infinite;
    }
    &:after{
      animation-delay: 1.5s;
    }

    .pulse-dot {
      @include circle(10px);
      background: $white;
      position: absolute;
      top:0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      box-shadow: 0 0 5px rgba(0,0,0,0.33);
    }
  }

  @keyframes pulse-me{
    0%{
      transform: scale(1);
      opacity: 1;
    }

    10%{
      transform: scale(2);
      opacity: 1;
    }

    20%{
      opacity: 0.1;
    }

    50%{
      opacity: 0.3;
    }
    70%{
      opacity: 0.25;
    }

    90%{
      opacity: 0.5;
    }

    100%{
      transform: scale(4);
      opacity: 0;
    }
  }

  .reasons-wrap {
    &>.col {
      &:nth-child(2n-1) {
        margin-left: 2%;
      }

      &:nth-child(3n) {
        margin-left: 0;
      }
    }
  }


  .graph-buttons-1 {
    float: left;
    width: 50%;
  }

  .graph-buttons-2 {
    float: left;
    width: 35%;
  }

  .graph-buttons-3 {
    float: left;
    width: 15%;
  }


  .footer_soc_block {
    width: 24%;
    float: left;
  }

  .footer_menu_block {
    width: 76%;
    float: left;
  }

  .footer_menu_title {
    margin: 30px 0 25px;
    font-size: 15px;

    &:after {
      display: none;
    }
  }


  .soc_med,
  .footer-1-list,
  .footer-2-list,
  .footer-3-list,
  .footer-4-list {
    display: block;

    ul {
      padding-left: 0;

     /* a {
        font-size: .8em;
      }*/
    }
  }

  .footer-1-list,
  .footer-2-list,
  .footer-3-list,
  .footer-4-list {
    ul {
      li {
        a {
          font-size: 13px;
        }
      }
    }
  }

.soc_med_list {
  padding-left: 0;

  li {
    a {
      font-size: 13px;
      padding-left: 45px;
    }
  }
}

.soc_med_tw {

  &:before {
    content: '';
    display: block;
    @include sprite(-50px, -30px);
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0px;
    top: 7px;
  }
}

.soc_med_fb {

  &:before {
    content: '';
    display: block;
    @include sprite(-90px, -30px);
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0px;
    top: 1px;
  }
}
.soc_med_vk {

  &:before {
    content: '';
    display: block;
    @include sprite(-120px, -30px);
    width: 30px;
    height: 30px;
    position: absolute;
    left: -5px;
    top: 8px;
  }
}

  .mobile {
    display: none !important;
  }

  .desktop {
    display: inline-block !important;
  }

  .reg-count-title {
    font-size: 8em;
  }

  .reg-count-subtitle {
    font-size: 3em;
  }

  .reg-count {
    background-image: url(../images/reg-count-1200-450.jpg);
  }
}

@media (min-width: 1200px) {

  .hamburger {
    display: none;
  }

  .lang-reg-block {
    margin-top: 14px;
  }

  .nav {
    position: absolute;
    top: 16px;
    left: 160px;
    /*width: auto;*/
    display: inline-block !important;
    background: transparent;
  }

  .menu {
    background: transparent;
    width: auto;
    margin-left: 10px;

    li {
      display: inline-block;

      a {
        border: none;
        color: #fff;
        font-size: 15px;
        text-decoration: none;
        padding: 5px 10px;
        margin: 0 4px;
        border-radius: 2px;

      }
    }
  }

  .desktop-1200 {
    display: inline-block !important;
  }

  .section_inner {
    padding: 60px 0;
  }



  .header {
    padding-top: 10px;

    .header-center {
      padding-bottom: 90px;
    }
  }

  .graph-btn {
    padding: 8px 12px;
    font-size: 0.9em;
  }

  .header-reg {
    max-width: 630px;
    padding: 10px 20px;
    font-size: 15px;
  }

  .header-reg-input {
    height: 60px;
  }

  .header-reg-btn {
    height: 60px;

    &:hover {
      background: #347ffb;
    }
  }

  .header-title, .header-subtitle {
    font-size: 70px;
  }

  .header-title-wrap {
    margin-bottom: 40px;
  }

  .info-text {
    font-size: 17px;
  }

  .block-title {
    margin-bottom: 50px;
    font-size: 35px;
  }

  .account-title {
    font-size: 35px;
    margin-bottom: 30px;
  }

  .reg-count-title {
    font-size: 200px;
  }

  .reg-count-subtitle {
    font-size: 42px;
  }


  .accept {
    position: relative;


    .accept-link-wrap {
      position: absolute;
      top: 5px;
      right: 20px;
    }

  }

  .reason-1, .reason-2, .reason-3 {
    margin-bottom: 60px;
    padding: 0 10px;
  }

  .reason-4, .reason-5, .reason-6 {
    margin-bottom: 20px;
    padding: 0 10px;
  }

  .reviews-carousel {
    margin-bottom: 20px;
  }


  .blog-post {
    width: 47%;
    line-height: 1.3;
  }

  .blog-list {
    width: 47%;
    margin-left: 6%;
  }



  .blog-post-title {
    color: #0072f2;
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .blog-post-tags {
    margin-bottom: 12px;
  }

  .blog-tag-item {
    padding: 2px 8px;
    background: #f7f7f7;
    display: inline-block;
    margin-right: 2px;
    border-radius: 2px;
    color: #718493;
    font-size: 13px;
    height: 20px;

    &.item-fees {
      background: #ff5575;
      color: $white;
    }

    &.item-updates {
      background: #01c788;
      color: $white;
    }

    &.item-social {
      background: #55bdff;
      color: $white;
    }

    &.item-events {
      background: #ffbd55;
      color: $white;
    }

    &.item-other {
      border: 1px solid #e3e7ea;
    }
  }

  .blog-post-text {
    color: #727989;
    font-size: 15px;
    margin-bottom: 10px;
  }

  .blog-post-btn {
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid #d4dade;
    border-radius: 2px;
    position: relative;
    margin-top: 20px;
    color: $blue_dark;

    &:hover {
      border: 1px solid $blue;
      color: $blue;
      text-decoration: none;
    }

    &:active {
      border: 1px solid $blue_active;
      color: $blue_active;
    }
  }

  .blog-read-more-wrap {
    display: none;
  }

  .account-btn {
    .btn_create {
      font-size: 21px;
      padding: 10px 20px;
    }
  }

  .footer {
    .section_inner {
      padding: 5px 0 20px 0;
    }
  }

  .footer_bottom {
    .section_inner {
      padding: 20px 0;
    }
  }

  .footer_menu_title {
    font-size: 17px;
  }


  .footer-1-list,
  .footer-2-list,
  .footer-3-list,
  .footer-4-list {
    ul {
      li {
        a {
          font-size: 14px;
        }
      }
    }
  }

  .reg-count {
    background-image: url(../images/reg-count-1920-450.jpg);
  }

}

@media (min-width: 1920px) {
  .reg-count {
    background-image: url(../images/reg-count-2650-450.jpg);
  }
}